.context-menu__container {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.context-container__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    width: -webkit-fill-available;
    font-size: 14px;
    padding: 6px 8px;
}

.context-container__name:hover {
    background: slategray;
}

.context-container__wrapper {
    position: absolute;
    transform: translate(100%, -5px);
    right: 5px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #00000017;
}