.context-menu__container {
    display: flex;
    flex-direction: row;
}
.context-container__name {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    width: -webkit-fill-available;
}

.context-container__name:hover {
    background: slategray;
}

.context-container__wrapper {
    position: absolute;
    transform: translateX(100%);
    right: 5px;
    padding: 5px;
    background: lightgray;
    border-radius: 5px;
}