.context-menu__wrapper {
    width: auto;
    height: auto;
}

.context-menu__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 4px 4px 5px #00000017;
}

.context-menu__body_fixed {
    transform: translate(-5px, 5px);
}