.table {
    display: block;
    position: absolute;
    min-width: auto;
    min-height: 45px;
    z-index: 1;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 7px;
    overflow: hidden;
    user-select: none
}

.table__header {
    display: flex;
    justify-content: space-between;
    height: 20px;
    background: lightgray;
    padding: 5px;
    cursor: move;
}

.table__wrapper {
    padding: 5px;
    cursor: pointer;
    background: white;
}

.table__body {
    font-size: 14px;
}

.table__body > tbody > tr {
    border-bottom: 1pt solid black;
}